@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    font-family: 'Inter', sans-serif;
    background-color:#f6f6f6 ;
    margin: 0px;
    box-sizing:border-box ;
}
header{
    display: flex;
    background-color: #fff;
    padding: 0px 10px;
     margin-bottom: 60px; 
}
.register{
    vertical-align :30px;
    margin-left: 30%;
    font-family: inter;
    color:#696E81;
}
.register1{
    margin-left: 30px;
    color: #696E81;
    display: none;
}
.img{
    margin-top:17px;
    margin-left: 15px;
    
}
main{
    width:550px;
    margin:0 auto;
    background-color: #ffff;
    padding :15px;
    border-radius: 20px;
}
input{
    width:77%;
    padding:15px 20px;
    margin: 10px 20px ;
    border-color: #8146FF;
}
.short{
    width: 56%;
    border-color: #8146FF;
}
.date{
    width:73%;
    border-color: #8146FF;
}
.mainname{
    display: inline-block;
}
.location{
    position: relative;
}
.location input{
    padding-left: 40px;
    width:73%;
    border-color: #8146FF;
}


.vi{
    position: absolute;
    left:35px;
    top:40px;
}
button{
 padding: 9px 10px;
 margin-left: 62%;
 margin-top:30px ;
 margin-bottom: 30px;
 background-color:#8146FF ;
 color:#ffff;
 border-radius: 8px;
 border: transparent;
}
form{
    margin-left: 30px;
    margin-top: 40px;
}
a{
    text-decoration: none;
    border:1px solid black ;
    margin-left:70px ;
    padding:10px 15px;
    color:#61677F;
    border: none;
}
input{
    border-color: #8146FF;
    border-radius: 8px;
}
#error{
    width: 250px;
    background-color:transparent;
    padding: 10px;
    border: transparent;
    border-radius: 8px;
    color: black;
    display: flex;
}
i{
   font-size: 30px;
}
 


@media screen and (max-width: 750px) {
     header{
        
        margin-bottom: 15px;
     }
    main{
        width: 370px;
        background-color: #ffff;
        border-radius: 20px;
    }
    .register{
        display: none;
    }
    .register1{
        display: block;
        margin-left: 45px;
        margin-top:50px ;
    }
    .short1{
        width: 310px;
        border-color: #8146FF;
    }
    
   .short{
    display: block;
    width: 240px;
    border-color: #8146FF;

   } 
   
   .date{
    width: 125%;
   }
   .location input{
    width:65%;
   }
   button{
    margin-left: 25%;
    padding:15px 35px;
   }
   
}